{% extends 'pia/Layout/base.html.twig' %}

{% import 'pia/Layout/_macros.html.twig' as macro %}

{% block title %}PIA User Management{% endblock title %}

{% block navbar %}
    {% include 'pia/Layout/navbar.html.twig' with {
        'activeItem' : 'pia_templates'
    } %}
{% endblock navbar %}

{% block body %}

    <div class="ui grid">

        <div class="twelve wide column">

            <div class="ui segment">

                <h2>
                    <a href="?limit=1000" class="ui tiny button" style="float:right;">Voir 1000</a>
                    Gabarits
                </h2>

                <div class="table responsive wrapper">
                    <table class="ui compact striped table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Créé le</th>
                                <th class="right aligned">
                                    <i class="cog icon"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for piaTemplate in piaTemplates %}
                                <tr>
                                    <td>{{ piaTemplate.id }}</td>
                                    <td>{{ piaTemplate.name }}</td>
                                    <td>
                                        {{ piaTemplate.createdAt|date('d/m/Y')}}
                                    </td>
                                    <td class="right aligned">
                                        <div class="ui small buttons">
                                            <a class="ui green tiny icon button" title="Modifier le gabarit" data-modal="data-modal" href="{{ path('manage_pia_templates_edit_pia_template', {'piaTemplateId':piaTemplate.id}) }}">
                                                <i class="pencil icon"></i>
                                            </a>
                                            <a class="ui red tiny icon button" title="Supprimer le gabarit" data-modal="data-modal" href="{{ path('manage_pia_templates_remove_pia_template', {'piaTemplateId':piaTemplate.id}) }}">
                                                <i class="trash icon"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                {{ pagerfanta(piaTemplates, 'semantic_ui') }}
            </div>

        </div>

        <div class="four wide column">
            <div class="ui segment">

                <h2>Ajouter un gabarit</h2>

                {{ render(controller('PiaApi\\Controller\\BackOffice\\PiaTemplateController:addPiaTemplateAction')) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).on('click', 'a[data-modal]', (e) => {
            e.preventDefault();
            e.stopPropagation();
            e.stopImmediatePropagation();

            let button = $(e.currentTarget);
            let url = button.attr('href');

            let modal = $('.ui.modal');
            modal.hide();

            $.ajax({
                url: url,
                success: (html) => {
                    let modal = $('.ui.modal');

                    modal.find('.header').html(button.attr('title'));

                    modal
                        .find('.content')
                        .html(html);

                    modal.find('.content .negative, .content .deny, .content .cancel').on('click', (e) => {
                        $(e.currentTarget).closest('.ui.modal').modal('hide');
                    });

                    modal.find('.actions').remove();

                    $('.ui.checkbox').checkbox();
                    $('.ui.dropdown').dropdown();

                    modal.modal('show');
                }
            })
        });
    </script>
{% endblock javascripts %}