{% extends "pia/Layout/base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/semantic-librinfo.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/styles-public.css') }}"/>
{% endblock %}

{% block body_attributes %}style="margin-top: 1em;"{% endblock body_attributes %}

{% block body %}

    <div class="ui middle aligned center aligned grid">
        <div class="column" style="transform: translateY(50%); max-width:400px">
            <h2 class="ui image">
                <img src="{{ asset('assets/img/pia-lab.png') }}" class="image">
            </h2>

            <div class="ui segments">
                <div class="ui segment">
                    <span class="ui teal header">Mot de passe oublié</span>
                </div>
                <div class="ui teal segment">
                    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                    <div class="ui divider"></div>
                    <div class="ui buttons">
                        <a class="ui default button" href="{{ path('fos_user_resetting_request') }}">Rééssayer</a>
                        {% if app.user and app.user.application and app.user.application.url is not null %}
                            <a href="{{ app.user.application.url }}" class="ui teal button">
                                {{ 'pia.users.resetting.success.return_to_application'|trans({}, 'Pia') }}
                            </a>
                        {% else %}
                            <a class="ui teal button" onclick="javascript:window.history.go(-2);">{{ 'pia.users.resetting.request.back'|trans({}, 'Pia') }}</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
