{% extends "pia/Layout/base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/semantic-librinfo.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/styles-public.css') }}"/>
{% endblock %}

{% block body %}

    <div class="ui middle aligned center aligned grid">
        <div class="column" style="transform: translateY(75%); max-width:400px">
            <h2 class="ui image">
                <img src="{{ asset('assets/img/pia-logo-small.png') }}" class="image">
            </h2>

            <div class="ui segments">
                <div class="ui segment">
                    <span class="ui teal header">Mot de passe oublié</span>
                </div>
                <div class="ui teal segment">
                    <form class="ui large form" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                        <div class="field">
                            <label for="username" class="ui teal header">{{ 'resetting.request.username'|trans }}</label>
                            <input type="text" id="username" name="username" required="required"/>
                        </div>
                        
                        <div>
                            <input class="ui fluid button teal" type="submit" value="{{ 'resetting.request.submit'|trans }}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}