{% trans_default_domain 'Pia' %}

{% set application = form.vars.value %}

<div class="ui negative message">
    <div class="ui clearing basic segment">
        <div class="header">
            {{ 'pia.applications.modals.remove.title'|trans }}
        </div>
        <i style="float:right;">{{ 'pia.applications.modals.remove.sub_title'|trans }}</i>
    </div>
</div>

<table class="ui single line table">
    <thead>
        <tr>
            <th colspan="100%">
                {{ 'pia.applications.modals.remove.resume.title'|trans }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="collapsing">
                <i class="user circle icon"></i>
                <b>{{ 'pia.applications.modals.remove.resume.name'|trans }}</b>
            </td>
            <td>{{ application.name }}</td>
        </tr>
        <tr>
            <td class="collapsing">
                <i class="globe icon"></i>
                <b>{{ 'pia.applications.modals.remove.resume.url'|trans }}</b>
            </td>
            <td>{{ application.url }}</td>
        </tr>
        <tr>
            <td class="collapsing">
                <i class="share square outline icon"></i>
                <b>{{ 'pia.applications.modals.remove.resume.urls'|trans }}</b>
            </td>
            <td>
                {% for redirectUri in application.redirectUris %}
                    <span class="ui label">{{ redirectUri }}</span>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="collapsing">
                <i class="envelope icon"></i>
                <b>{{ 'pia.applications.modals.remove.resume.user_number'|trans }}</b>
            </td>
            <td>{{ application.users|length }}</td>
        </tr>
        <tr>
            <td class="collapsing">
                <i class="envelope icon"></i>
                <b>{{ 'pia.applications.modals.remove.resume.tokens'|trans }}</b>
            </td>
            <td>
                <span class="ui label">{{ application.tokens|length }}</span>
                {% set validtokens = application.getNotExpiredTokens() | length %}
                {% if validtokens > 0 %}
                    <span class="ui red label">
                        {{ validtokens }}&nbsp;{{ 'pia.applications.modals.remove.resume.currently_valid'|trans }}
                    </span>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

{{ form_start(form) }}

{% do 
    form.submit.setRendered() %}

<input type="submit" class="ui fluid red button" value="{{ 'pia.actions.remove'|trans }}"/>

{{ form_end(form) }}