{% trans_default_domain 'Pia' %}

{{ form_start(form) }}

<div class="ui stackable equal width grid">
    <div class="field column">
        {{ form_row(form.username) }}
        {{ form_row(form.profile.lastName) }}
        {{ form_row(form.profile.firstName) }}
        {{ form_row(form.email) }}

    </div>
    <div class="field column">
      {{ form_row(form.application) }}
      {{ form_row(form.structure) }}
        {{ form_row(form.roles) }}
    </div>
</div>

<div class="ui stackable equal width grid">
    <div class="field column">
        {{ form_row(form.enabled) }}
        {{ form_row(form.locked) }}
    </div>
    <div class="field column">
        {{ form_row(form.expirationDate) }}
    </div>
</div>

{{ form_row(form.profile.user) }}

<div class="ui divider"></div>

{{ form_end(form) }}
