{% trans_default_domain 'Pia' %}

{% extends 'pia/Layout/base.html.twig' %}

{% import 'pia/Layout/_macros.html.twig' as macro %}

{% block title %}
    {{ 'pia.users.title'|trans }}
{% endblock title %}

{% block navbar %}
    {% include 'pia/Layout/navbar.html.twig' with {
        'activeItem' : 'users'
    } %}
{% endblock navbar %}

{% block body %}

    <div class="ui grid">

        <div class="twelve wide column">
            {{ include('pia/User/partials/list.html.twig',{'users':users}) }}
        </div>

        <div class="four wide column">
            <div class="ui segment">

                <h2>{{ 'pia.users.add.title'|trans }}</h2>

                {{ render(controller('PiaApi\\Controller\\BackOffice\\UserController:addUserAction')) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
