{% extends 'pia/Layout/base.html.twig' %}

{% import 'pia/Layout/_macros.html.twig' as macro %}

{% block title %}PIA User Management{% endblock title %}

{% block navbar %}
    {% include 'pia/Layout/navbar.html.twig' with {
        'activeItem' : 'users'
    } %}
{% endblock navbar %}

{% block body %}

    <div class="ui grid">

        <div class="twelve wide column">

            <div class="ui segment">

                <h2>
                    <a href="?limit=1000" class="ui tiny button" style="float:right;">Voir 1000</a>
                    Liste des utilisateurs
                </h2>

                <table class="ui compact striped table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Application</th>
                            <th>Structure</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Actif</th>
                            <th>Verrouillé</th>
                            <th>Créé le</th>
                            <th>Expire le</th>
                            <th class="right aligned">
                                <i class="cog icon"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>
                                    {% if user.application is not null %}
                                        <a href="{{ path('manage_applications') }}">
                                            {{ user.application.name }}
                                        </a>
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.structure is not null %}
                                        <a href="{{ path('manage_structures') }}">
                                            {{ user.structure.name }}
                                        </a>
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% for role in user.roles if role != 'ROLE_USER' %}
                                        <span class="ui label">{{ role }}</span>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ macro.boolLabel(user.enabled) }}
                                </td>
                                <td>
                                    {{ macro.boolLabel(user.locked) }}
                                </td>
                                <td>
                                    {{ user.creationDate|date('d/m/Y')}}
                                </td>
                                <td>
                                    {{ user.expirationDate|date('d/m/Y')}}
                                </td>
                                <td class="right aligned">
                                    <div class="ui small buttons">
                                        <a class="ui green tiny icon button" data-modal="data-modal" title="Modifier l'utilisateur" href="{{ path('manage_users_edit_user', {'userId':user.id}) }}">
                                            <i class="pencil icon"></i>
                                        </a>
                                        <a class="ui orange tiny icon button" data-modal="data-modal" title="Envoyer l'email de réinitialisation de mot de passe" href="{{ path('manage_users_send_reset_password_email', {'userId':user.id}) }}">
                                            <i class="icons">
                                                <i class="envelope outline icon"></i>
                                                <i class="bottom right corner plus icon"></i>
                                            </i>
                                        </a>
                                        <a class="ui red tiny icon button" data-modal="data-modal" title="Supprimer l'utilisateur" href="{{ path('manage_users_remove_user', {'userId':user.id}) }}">
                                            <i class="trash icon"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>

                {{ pagerfanta(users, 'semantic_ui') }}
            </div>
        </div>

        <div class="four wide column">
            <div class="ui segment">

                <h2>Ajouter un utilisateur</h2>

                {{ render(controller('PiaApi\\Controller\\BackOffice\\UserController:addUserAction')) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).on('click', 'a[data-modal]', (e) => {
            e.preventDefault();
            e.stopPropagation();
            e.stopImmediatePropagation();

            let button = $(e.currentTarget);
            let url = button.attr('href');

            let modal = $('.ui.modal');
            modal.hide();

            $.ajax({
                url: url,
                success: (html) => {
                    let modal = $('.ui.modal');

                    modal.find('.header').html(button.attr('title'));

                    modal
                        .find('.content')
                        .html(html);

                    modal.find('.content .negative, .content .deny, .content .cancel').on('click', (e) => {
                        $(e.currentTarget).closest('.ui.modal').modal('hide');
                    });

                    modal.find('.actions').remove();

                    $('.ui.checkbox').checkbox();
                    $('.ui.dropdown').dropdown();

                    modal.modal('show');
                }
            })
        });
    </script>
{% endblock javascripts %}