{% trans_default_domain 'Pia' %}

{% set user = form.vars.value %}

<div class="ui negative message">
    <div class="ui clearing basic segment">
        <div class="header">
            {{ 'pia.users.modals.remove.title'|trans }}
        </div>
        <i style="float:right;">{{ 'pia.users.modals.remove.sub_title'|trans }}</i>
    </div>
</div>

<table class="ui single line table">
    <thead>
        <tr>
            <th colspan="100%">
                {{ 'pia.users.modals.remove.resume.user'|trans }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="collapsing">
                <i class="user circle icon"></i>
                <b>{{ 'pia.users.modals.remove.resume.username'|trans }}</b>
            </td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td class="collapsing">
                <i class="envelope icon"></i>
                <b>{{ 'pia.users.modals.remove.resume.email'|trans }}</b>
            </td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td class="collapsing">
                <i class="calendar alternate outline icon"></i>
                <b>{{ 'pia.users.modals.remove.resume.created_at'|trans }}</b>
            </td>
            <td>{{ user.creationDate|date('d/m/Y H:i') }}</td>
        </tr>
        <tr>
            <td class="collapsing">
                <i class="calendar alternate outline icon"></i>
                <b>{{ 'pia.users.modals.remove.resume.expires_at'|trans }}</b>
            </td>
            <td>{{ user.expirationDate|date('d/m/Y H:i') }}</td>
        </tr>
        <tr>
            <td class="collapsing">
                <i class="database icon"></i>
                <b>{{ 'pia.users.modals.remove.resume.application'|trans }}</b>
            </td>
            <td>
                {% if user.application is not null %}
                    {{ user.application.name }}
                {% else %}
                    {{ 'pia.labels.n_a'|trans }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="collapsing">
                <i class="building icon"></i>
                <b>{{ 'pia.users.modals.remove.resume.structure'|trans }}</b>
            </td>
            <td>
                {% if user.structure is not null %}
                    {{ user.structure.name }}
                {% else %}
                    {{ 'pia.labels.n_a'|trans }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="collapsing">
                <i class="users icon"></i>
                <b>{{ 'pia.users.modals.remove.resume.roles'|trans }}</b>
            </td>
            <td>
                {% for role in user.roles if role != 'ROLE_USER' %}
                    <span class="ui label">{{ role }}</span>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

{{ form_start(form) }}

{% do form.submit.setRendered() %}

<input type="submit" class="ui fluid red button" value="{{ 'pia.actions.remove'|trans }}"/>

{{ form_end(form) }}