{% trans_default_domain 'Pia' %}

{% set user = form.vars.value %}

<div class="ui message">
    <div class="header">
        {{ 'pia.users.reseting.send_email.title'|trans }}
    </div>
    {{ 'pia.users.reseting.send_email.instructions'|trans({'%email%': user.email })|raw }}
</div>

{% if user.passwordRequestedAt is not null %}
    <div class="ui warning message">
        {% set resetUrl = url('fos_user_resetting_reset', {'token': user.confirmationToken}) %}
        <a class="ui orange image label" href="{{ resetUrl }}" title="Dernier envoi de l'email effectué le : {{ user.passwordRequestedAt|date('d/m/Y H:i') }}">
            {{ 'pia.users.reseting.send_email.reset_url'|trans }}
            <div class="detail">{{ resetUrl }}</div>
        </a>
        <div class="ui divider"></div>
        <div class="header">
            {{ 'pia.users.reseting.send_email.warning'|trans|raw }}
        </div>
    </div>
{% endif %}

<div class="ui divider"></div>

{{ form(form) }}