{% set user = form.vars.value %}

<div class="ui message">
    <div class="header">
        Envoi de l'email de réinitialisation de mot de passe
    </div>
    <p>
        Un email de réinitialisation de mot de passe va être envoyé à l'adresse
        <b>{{ user.email }}</b>.
    </p>
    <p>
        Cet email contiendra les instructions de réinitialisation du mot de passe pour le compte associé à cet email.
    </p>
</div>

{% if user.passwordRequestedAt is not null %}
    <div class="ui warning message">
        {% set resetUrl = url('fos_user_resetting_reset', {'token': user.confirmationToken}) %}
        <a class="ui orange image label" href="{{ resetUrl }}" title="Dernier envoi de l'email effectué le : {{ user.passwordRequestedAt|date('d/m/Y H:i') }}">
            L'URL de réinitialisation
            <div class="detail">{{ resetUrl }}</div>
        </a>
        <div class="ui divider"></div>
        <div class="header">
            ATTENTION: Ouvrez ce lien dans un onglet de navigation privée pour ne pas être déconnecté une fois le mot de passe changé.<br/>
            Si vous ne le faites pas, vous allez être connecté en tant que cet utilisateur.
        </div>
    </div>
{% endif %}

<div class="ui divider"></div>

{{ form(form) }}