<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.png') }}"/>
        <title>{% spaceless %}
            {{ 'pia.app_name'|trans({}, 'Pia') }} - {{ 'pia.layout.title'|trans({}, 'Pia') }} |
            {% block title %}

            {% endblock %}
        {% endspaceless %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/semantic-superhero.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}"/>
        {% endblock %}

        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        {# included in HEAD because of possible presence of inline jQuery scripts #}
    </head>
    <body {% block body_attributes %} {% endblock body_attributes %}>
        {% block navbar %}{% endblock navbar %}

        {% block body %}{% endblock %}

        {% include 'pia/Layout/flashes.html.twig' %}

        {% include 'pia/Layout/modal.html.twig' %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/semantic.min.js') }}"></script>
            <script src="{{ asset('assets/js/semantic-custom.min.js') }}"></script>
            <script src="{{ asset('assets/js/modal.js') }}"></script>
            <script src="{{ asset('assets/js/flash_messages.js') }}"></script>
            <script>
                $(document).ready(function () {
                    $('.ui.checkbox').checkbox();
                    $('.ui.dropdown').dropdown();
                    $('[data-popup]').popup({on: 'click'});
                    
                })
            </script>
        {% endblock %}
    </body>
</html>
