{% trans_default_domain 'Pia' %}

{% extends 'pia/Layout/base.html.twig' %}

{% import 'pia/Layout/_macros.html.twig' as macro %}

{% block title %}
  {{ 'pia.structures.title'|trans }}
{% endblock title %}

{% block navbar %}
  {% include 'pia/Layout/navbar.html.twig' with {
    'activeItem' : 'structures'
  } %}
{% endblock navbar %}

{% block body %}

  <div class="ui grid">

    <div class="twelve wide column">

      <div class="ui grid">

        <div class=" {% if is_granted("CAN_MANAGE_STRUCTURES") %} ten {% endif %} wide column">
          {{ include('pia/Structure/partials/list.html.twig',{'structures':structures}) }}
        </div>

        {% if is_granted("CAN_MANAGE_STRUCTURE_TYPES")%}
          <div class="six wide column">
            {{ include('pia/StructureType/partials/list.html.twig',{'structureTypes':structureTypes}) }}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="four wide column">
      <div class="ui segment">

        <h2>{{ 'pia.structures.add.title'|trans }}</h2>

        {{ render(controller('PiaApi\\Controller\\BackOffice\\StructureController:addStructureAction')) }}

      </div>
      {% if is_granted("CAN_MANAGE_STRUCTURE_TYPES")%}
        <div class="ui segment">

          <h2>{{ 'pia.structure_types.add.title'|trans }}</h2>

          {{ render(controller('PiaApi\\Controller\\BackOffice\\StructureController:addStructureTypeAction')) }}

        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
