{% trans_default_domain 'Pia' %}

{% extends 'pia/Layout/base.html.twig' %}

{% import 'pia/Layout/_macros.html.twig' as macro %}

{% block title %}
    {{ 'pia.structures.title'|trans }}
{% endblock title %}

{% block navbar %}
    {% include 'pia/Layout/navbar.html.twig' with {
        'activeItem' : 'structures'
    } %}
{% endblock navbar %}

{% block body %}
    {% set cols = 2 %}
    {% set full = not is_granted('CAN_MANAGE_STRUCTURES') %}
    {% if not is_granted('CAN_SHOW_STRUCTURE')or not is_granted('CAN_SHOW_STRUCTURE_TYPE') %}
        {% set cols = 1 %}
    {% endif %}

    <div class="ui grid">

        <div class=" {{ full == true ? '' : 'twelve' }} wide column">

            <div class="ui grid">
                <div class="{{ cols == 2 ? 'ten' : 'sixteen' }} wide column">
                    {% if is_granted('CAN_SHOW_STRUCTURE') %}
                        {{ include('pia/Structure/partials/list.html.twig',{'structures':structures}) }}
                    {% endif %}
                </div>

                <div class="{{ cols == 2 ? 'six' : 'sixteen' }} wide column">
                    {% if is_granted('CAN_SHOW_STRUCTURE_TYPE') %}
                        {{ include('pia/StructureType/partials/list.html.twig',{'structureTypes':structureTypes}) }}
                    {% endif %}
                </div>
            </div>
        </div>

        {% if is_granted('CAN_MANAGE_STRUCTURES') and is_granted('CAN_MANAGE_STRUCTURE_TYPES')  %}
            <div class="four wide column">

                <div class="ui segment">

                    <h2>{{ 'pia.structures.add.title'|trans }}</h2>

                    {{ render(controller('PiaApi\\Controller\\BackOffice\\StructureController:addStructureAction')) }}

                </div>
                <div class="ui segment">

                    <h2>{{ 'pia.structure_types.add.title'|trans }}</h2>

                    {{ render(controller('PiaApi\\Controller\\BackOffice\\StructureController:addStructureTypeAction')) }}

                </div>

            </div>
        {% endif %}

    </div>

{% endblock %}