{% trans_default_domain 'Pia' %}

{% extends 'pia/Layout/base.html.twig' %}

{% import 'pia/Layout/_macros.html.twig' as macro %}

{% block title %}
    {{ 'pia.structures.title'|trans }}
{% endblock title %}

{% block navbar %}
    {% include 'pia/Layout/navbar.html.twig' with {
        'activeItem' : 'structures'
    } %}
{% endblock navbar %}

{% block body %}

    <div class="ui grid">

        <div class="twelve wide column">

            <div class="ui grid">

                <div class="ten wide column">

                    <div class="ui segment">

                        <h2>
                            <a href="?limit=1000" class="ui tiny button" style="float:right;">Voir 1000</a>
                            {{ 'pia.structures.title'|trans }}
                        </h2>

                        <div class="table responsive wrapper">
                            <table class="ui compact striped table">
                                <thead>
                                    <tr>
                                        <th>{{ 'pia.structures.list.id'|trans }}</th>
                                        <th>{{ 'pia.structures.list.name'|trans }}</th>
                                        <th>{{ 'pia.structures.list.type'|trans }}</th>
                                        <th>{{ 'pia.structures.list.users_number'|trans }}</th>
                                        <th>{{ 'pia.structures.list.pias_number'|trans }}</th>
                                        <th>{{ 'pia.structures.list.created_at'|trans }}</th>
                                        <th class="right aligned">
                                            <i class="cog icon"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for structure in structures %}
                                        <tr>
                                            <td>{{ structure.id }}</td>
                                            <td>{{ structure.name }}</td>
                                            <td>
                                                {% if structure.type is not null %}
                                                    {{ structure.type.name }}
                                                {% else %}
                                                    {{ 'pia.labels.n_a'|trans }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <span class="ui green label" {% if structure.users|length == 0 %} style="opacity:0.3" {% endif %}>{{ structure.users|length }}</span>
                                            </td>
                                            <td>
                                                <span class="ui red label" {% if structure.pias|length == 0 %} style="opacity:0.3" {% endif %}>{{ structure.pias|length }}</span>
                                            </td>
                                            <td>
                                                {{ structure.createdAt|date('d/m/Y')}}
                                            </td>
                                            <td class="right aligned">
                                                <div class="ui small buttons">
                                                    <a class="ui green tiny icon button" title="Modifier la structure" data-modal="data-modal" href="{{ path('manage_structures_edit_structure', {'structureId':structure.id}) }}">
                                                        <i class="pencil icon"></i>
                                                    </a>
                                                    <a class="ui red tiny icon button" title="Supprimer la structure" data-modal="data-modal" href="{{ path('manage_structures_remove_structure', {'structureId':structure.id}) }}">
                                                        <i class="trash icon"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        {{ pagerfanta(structures, 'semantic_ui') }}
                    </div>

                </div>

                <div class="six wide column">

                    <div class="ui segment">

                        <h2>
                            <a href="?limitSt=1000" class="ui tiny button" style="float:right;">Voir 1000</a>
                            Types de structure
                        </h2>

                        <table class="ui compact striped table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Nombre de structures</th>
                                    <th class="right aligned">
                                        <i class="cog icon"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for structureType in structureTypes %}
                                    <tr>
                                        <td>{{ structureType.id }}</td>
                                        <td>{{ structureType.name }}</td>
                                        <td>
                                            <span class="ui label">{{ structureType.structures|length }}</span>
                                        </td>
                                        <td class="right aligned">
                                            <div class="ui small buttons">
                                                <a class="ui green tiny icon button" title="Modifier le type de structure" data-modal="data-modal" href="{{ path('manage_structures_edit_structure_type', {'structureTypeId':structureType.id}) }}">
                                                    <i class="pencil icon"></i>
                                                </a>
                                                <a class="ui red tiny icon button" title="Supprimer le type de structure" data-modal="data-modal" href="{{ path('manage_structures_remove_structure_type', {'structureTypeId':structureType.id}) }}">
                                                    <i class="trash icon"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                        {{ pagerfanta(structureTypes, 'semantic_ui', {'pageParameter': 'pageSt'}) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column">
            <div class="ui segment">

                <h2>Ajouter une structure</h2>

                {{ render(controller('PiaApi\\Controller\\BackOffice\\StructureController:addStructureAction')) }}

            </div>
            <div class="ui segment">

                <h2>Ajouter un type de structure</h2>

                {{ render(controller('PiaApi\\Controller\\BackOffice\\StructureController:addStructureTypeAction')) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).on('click', 'a[data-modal]', (e) => {
            e.preventDefault();
            e.stopPropagation();
            e.stopImmediatePropagation();

            let button = $(e.currentTarget);
            let url = button.attr('href');

            let modal = $('.ui.modal');
            modal.hide();

            $.ajax({
                url: url,
                success: (html) => {
                    let modal = $('.ui.modal');

                    modal.find('.header').html(button.attr('title'));

                    modal
                        .find('.content')
                        .html(html);

                    modal.find('.content .negative, .content .deny, .content .cancel').on('click', (e) => {
                        $(e.currentTarget).closest('.ui.modal').modal('hide');
                    });

                    modal.find('.actions').remove();

                    $('.ui.checkbox').checkbox();
                    $('.ui.dropdown').dropdown();

                    modal.modal('show');
                }
            })
        });
    </script>
{% endblock javascripts %}