{% extends 'pia/Layout/base.html.twig' %}

{% block body %}

    {% set icons = {
        503: 'wrench',
        500: 'cogs',
        404: 'search',
        403: 'shield alternate',
        401: 'user outline'
    } %}

    {% set icon = 'exclamation circle' %}
    {% if status_code in icons | keys %}
        {% set icon = icons[status_code] %}
    {% endif %}

    <div class="ui middle aligned center aligned grid" style="height:100%;">
        <div class="column" style="position:relative;max-width:400px">
            <div class="ui huge statistic">
                <div class="value">
                    <i class="{{ icon }} icon"></i>
                    {{ status_code }}
                </div>
                <div class="label">
                    <br/>
                    {{ status_text }}
                    {% if status_code in icons | keys %}
                        :
                        {{ ('pia.http_error.' ~ status_code)|trans({}, 'PiaBack') }}
                    {% endif %}

                </div>
            </div>

            <h2 class="ui image" style="opacity:0.2">
                <img src="{{ asset('assets/img/pia-lab.png') }}" class="image">
            </h2>
        </div>
    </div>
{% endblock %}