{% trans_default_domain 'Pia' %}
{% import 'pia/Layout/_macros.html.twig' as macro %}

<div class="ui segment">

    <h2>
        <a href="?limit=1000" class="ui tiny button" style="float:right;">{{ 'pia.actions.display'|trans }} 1000</a>
        {{ 'pia.structures.title'|trans }}
    </h2>

    <div class="table responsive wrapper">
        <table class="ui compact striped table">
            <thead>
                <tr>
                    <th>{{ 'pia.structures.list.id'|trans }}</th>
                    <th>{{ 'pia.structures.list.name'|trans }}</th>
                    <th>{{ 'pia.structures.list.type'|trans }}</th>
                    <th>{{ 'pia.structures.list.users_number'|trans }}</th>
                    <th>{{ 'pia.structures.list.pias_number'|trans }}</th>
                    <th>{{ 'pia.structures.list.created_at'|trans }}</th>
                    <th class="right aligned">
                        <i class="cog icon"></i>
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for structure in structures %}
                    <tr>
                        <td>{{ structure.id }}</td>
                        <td>{{ structure.name }}</td>
                        <td>
                            {% if structure.type is not null %}
                                {{ structure.type.name }}
                            {% else %}
                                {{ 'pia.labels.n_a'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            <span class="ui green label" {% if structure.users|length == 0 %} style="opacity:0.3" {% endif %}>{{ structure.users|length }}</span>
                        </td>
                        <td>
                            <span class="ui red label" {% if structure.pias|length == 0 %} style="opacity:0.3" {% endif %}>{{ structure.pias|length }}</span>
                        </td>
                        <td>
                            {{ structure.createdAt|date('d/m/Y')}}
                        </td>
                        <td class="right aligned">
                            <div class="ui small buttons">
                                <a class="ui blue tiny icon button" title="{{ 'pia.actions.show'|trans }}" href="{{ path('manage_structures_show_structure', {'structureId':structure.id, 'redirect': app.request.requestUri}) }}">
                                    <i class="eye icon"></i>
                                </a>
                                <a class="ui green tiny icon button" title="{{ 'pia.actions.edit'|trans }}" data-modal="data-modal" href="{{ path('manage_structures_edit_structure', {'structureId':structure.id, 'redirect': app.request.requestUri}) }}">
                                    <i class="pencil icon"></i>
                                </a>
                                {% if portfolio is defined %}
                                    <a class="ui orange tiny icon button" title="{{ 'pia.actions.dissociate'|trans }}" href="{{ path('manage_structures_dissociate_structure', {'structureId':structure.id, 'redirect': app.request.requestUri}) }}">
                                        <i class="unlink icon"></i>
                                    </a>
                                {% endif %}
                                <a class="ui red tiny icon button" title="{{ 'pia.actions.remove'|trans }}" data-modal="data-modal" href="{{ path('manage_structures_remove_structure', {'structureId':structure.id, 'redirect': app.request.requestUri}) }}">
                                    <i class="trash icon"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    {{ pagerfanta(structures, 'semantic_ui') }}
</div>