{% extends 'base.html.twig' %}

{% block title %}PIA User Management{% endblock title %}

{% block body %}

    <div class="ui segment">

        <h2>Liste des utilisateurs</h2>

        <table class="ui compact table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>

                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles if role != 'ROLE_USER' %}
                                <span class="ui label">{{ role }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        {{ pagerfanta(users, 'semantic_ui') }}

    </div>

    <div class="ui grid">
        <div class="eight wide column">
            <div class="ui segment">

                <h2>Ajouter un utilisateur</h2>

                {{ render(controller('PiaApi\\Controller\\UserController:addUserAction')) }}

            </div>
        </div>
    </div>

{% endblock %}