{% extends 'base.html.twig' %}

{% import '_macros.html.twig' as macro %}

{% block title %}PIA User Management{% endblock title %}

{% block navbar %}
    <div class="ui inverted menu">
        <div class="menu">
            <a class="active item" href="{{ path('manage_users') }}">
                <i class="user icon"></i>Utilisateurs
            </a>
            <a class="item" href="{{ path('manage_applications') }}">
                <i class="database icon"></i>Applications
            </a>
        </div>
        <div class="right menu">
            <a class="active item" href="{{ path('logout') }}">
                Logout
            </a>
        </div>
    </div>
{% endblock navbar %}

{% block body %}

    <div class="ui grid">

        <div class="twelve wide column">

            <div class="ui segment">

                <h2>
                    <a href="?limit=1000" class="ui tiny button" style="float:right;">Voir 1000</a>
                    Liste des utilisateurs
                </h2>

                <table class="ui compact striped table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Application</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Actif</th>
                            <th>Verrouillé</th>
                            <th>Créé le</th>
                            <th>Expire le</th>
                            <th class="right aligned">
                                <i class="cog icon"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>
                                    {% if user.application is not null %}
                                        <a href="{{ path('manage_applications') }}">
                                            {{ user.application.name }}
                                        </a>
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    {% for role in user.roles if role != 'ROLE_USER' %}
                                        <span class="ui label">{{ role }}</span>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ macro.boolLabel(user.enabled) }}
                                </td>
                                <td>
                                    {{ macro.boolLabel(user.locked) }}
                                </td>
                                <td>
                                    {{ user.creationDate|date('d/m/Y')}}
                                </td>
                                <td>
                                    {{ user.expirationDate|date('d/m/Y')}}
                                </td>
                                <td class="right aligned">
                                    <a class="ui green tiny icon button" data-modal="data-modal" href="{{ path('manage_users_edit_user', {'userId':user.id}) }}">
                                        <i class="pencil icon"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>

                {{ pagerfanta(users, 'semantic_ui') }}
            </div>
        </div>

        <div class="four wide column">
            <div class="ui segment">

                <h2>Ajouter un utilisateur</h2>

                {{ render(controller('PiaApi\\Controller\\UserController:addUserAction')) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).on('click', 'a[data-modal]', (e) => {
            e.preventDefault();
            e.stopPropagation();
            e.stopImmediatePropagation();

            let url = $(e.currentTarget).attr('href');

            let modal = $('.ui.modal');
            modal.hide();

            $.ajax({
                url: url,
                success: (html) => {
                    let modal = $('.ui.modal');

                    modal.find('.header').html('Modifier un utilisateur');

                    modal
                        .find('.content')
                        .html(html);

                    modal
                        .find('.content .negative, .content .deny, .content .cancel').on('click', (e) => {
                            $(e.currentTarget).closest('.ui.modal').modal('hide');
                        });

                    modal.find('.actions').remove();

                    $('.ui.checkbox').checkbox();
                    $('.ui.dropdown').dropdown();

                    modal.modal('show');
                }
            })
        });
    </script>
{% endblock javascripts %}